@model Course

<td>@Model.Name</td>

<td>@Model.Price</td>
<td>@Model.Hours</td>
<td>@Model.CourseLevel</td>
<td>@Model.Semester</td>
<td>@Model.StudentStage</td>
<td>
    @Model.Instructor.Name
</td>

