@model GoEdu.ViewModel.VMQuestionWithQuestions

@{
    ViewData["Title"] = "AddAndShowQuestions";
}

<h1>AddAndShowQuestions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h1>AddQuestions</h1>

<h4>VMQuestionWithQuestions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAndShowQuestions" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelAnswer" class="control-label"></label>
                <input asp-for="ModelAnswer" class="form-control" />
                <span asp-validation-for="ModelAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LectureId" class="form-control"  type="hidden"/>
                <span asp-validation-for="LectureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option1" class="control-label"></label>
                <input asp-for="Option1" class="form-control" />
                <span asp-validation-for="Option1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option2" class="control-label"></label>
                <input asp-for="Option2" class="form-control" />
                <span asp-validation-for="Option2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option3" class="control-label"></label>
                <input asp-for="Option3" class="form-control" />
                <span asp-validation-for="Option3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Option4" class="control-label"></label>
                <input asp-for="Option4" class="form-control" />
                <span asp-validation-for="Option4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelAnswer)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Option1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Option4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Questions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>

                @* @Html.DisplayFor(modelItem => item.ModelAnswerId) *@
                @Html.DisplayFor(modelItem => item.ModelAnswer)
            </td>
             @foreach(var q in item.Options) 
             { 
                     <td> 
                         @Html.DisplayFor(modelItem => item.Content) 
                     </td> 
             } 
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
