<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - موقع الجامعة</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="images/fav.ico" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="~/css/materialize.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="~/css/style-mob.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <!-- Navbar -->
    <section>
        <!-- الشريط العلوي -->
        <div class="ed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#">للتواصل: طريق ليك، جناح 180، فارمنجتون هيلز، الولايات المتحدة</a></li>
                                <li><a href="#">الهاتف: 101-1231-1231+</a></li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>
                                @* <li><a asp-controller="Account" asp-action="Login">تسجيل الدخول</a></li>
                                <li><a asp-controller="Account" asp-action="Register">إنشاء حساب</a></li> *@

                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <ul>
                                        <li><a href="@Url.Action("Login", "Account")">تسجيل الدخول</a></li>
                                        <li><a href="@Url.Action("Register", "Account")">إنشاء حساب</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <ul>
                                        <li><a href="@Url.Action("Logout", "Account")">تسجيل الخروج</a></li>
                                    </ul>
                                }

                            </ul>
                        </div>
                        <div class="ed-com-t1-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- قسم الشعار والقائمة -->
        <div class="top-logo" data-spy="affix" data-offset-top="250">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wed-logo">
                            <a href="index-2.html">
                                <img src="~/images/logo.png" alt="" />
                            </a>
                        </div>
                        <div class="main-menu">
                            <ul>
                                <li><a href="contact-us.html">اتصل بنا</a></li>
                                <li><a href="about.html" class="mm-arr">من نحن</a></li>
                                <li><a href="events.html">الفعاليات</a></li>
                                <li><a href="all-courses.html">جميع الدورات</a></li>
                                <li><a href="dashboard.html">الطالب</a></li>
                                <li><a href="index-2.html">الرئيسية</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- المحتوى الرئيسي -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <section class="wed-hom-footer">
        <div class="container">
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>تواصل معنا</h4>
                    <p>العنوان: 28800 طريق أورشارد ليك، الجناح 180، فارمغتون هيلز، الولايات المتحدة الأمريكية</p>
                    <p>الهاتف: <a href="#!">+101-1231-4321</a></p>
                    <p>البريد الإلكتروني: <a href="#!">info@edu.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>تابعنا على وسائل التواصل</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- حقوق النشر -->
    <section class="wed-rights">
        <div class="container">
            <div class="row">
                <div class="copy-right">
                    <a target="_blank" href="https://www.templateshub.net">قوالب من Templates Hub</a>
                </div>
            </div>
        </div>
    </section>

    <!-- مشاركة وسائل التواصل -->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">1k <br> مشاركة</a></li>
                <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </section>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="/js/main.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>





@* <!DOCTYPE html> *@
@* <html lang="en"> *@




@* <body> *@

@*     <!-- MOBILE MENU --> *@
@*     <section> *@
@*         <div class="ed-mob-menu"> *@
@*             <div class="ed-mob-menu-con"> *@
@*                 <div class="ed-mm-left"> *@
@*                     <div class="wed-logo"> *@
@*                         <a href="index-2.html"> *@
@*                             <img src="/images/logo.png" alt="" /> *@
@*                         </a> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="ed-mm-right"> *@
@*                     <div class="ed-mm-menu"> *@
@*                         <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a> *@
@*                         <div class="ed-mm-inn"> *@
@*                             <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a> *@
@*                             <h4>All Courses</h4> *@
@*                             <ul> *@
@*                                 <li><a href="/course/index">Accounting/Finance</a></li> *@
@*                                 <li><a href="course-details.html">civil engineering</a></li> *@
@*                                 <li><a href="course-details.html">Art/Design</a></li> *@
@*                                 <li><a href="course-details.html">Marine Engineering</a></li> *@
@*                                 <li><a href="course-details.html">Business Management</a></li> *@
@*                                 <li><a href="course-details.html">Journalism/Writing</a></li> *@
@*                                 <li><a href="course-details.html">Physical Education</a></li> *@
@*                                 <li><a href="course-details.html">Political Science</a></li> *@
@*                                 <li><a href="course-details.html">Sciences</a></li> *@
@*                                 <li><a href="course-details.html">Statistics</a></li> *@
@*                                 <li><a href="course-details.html">Web Design/Development</a></li> *@
@*                                 <li><a href="course-details.html">SEO</a></li> *@
@*                                 <li><a href="course-details.html">Google Business</a></li> *@
@*                                 <li><a href="course-details.html">Graphics Design</a></li> *@
@*                                 <li><a href="course-details.html">Networking Courses</a></li> *@
@*                                 <li><a href="course-details.html">Information technology</a></li> *@
@*                             </ul> *@
@*                             <h4>User Account</h4> *@
@*                             <ul> *@
@*                                 <li><a href="#!" data-toggle="modal" data-target="#modal1">Sign In</a></li> *@
@*                                 <li><a href="#!" data-toggle="modal" data-target="#modal2">Register</a></li> *@
@*                             </ul> *@
@*                             <h4>All Pages</h4> *@
@*                             <ul> *@
@*                                 <li><a href="index-2.html">Home</a></li> *@
@*                                 <li><a href="about.html">About us</a></li> *@
@*                                 <li><a href="admission.html">Admission</a></li> *@
@*                                 <li><a href="all-courses.html">All courses</a></li> *@
@*                                 <li><a href="course-details.html">Course details</a></li> *@
@*                                 <li><a href="awards.html">Awards</a></li> *@
@*                                 <li><a href="seminar.html">Seminar</a></li> *@
@*                                 <li><a href="events.html">Events</a></li> *@
@*                                 <li><a href="event-details.html">Event details</a></li> *@
@*                                 <li><a href="event-register.html">Event register</a></li> *@
@*                                 <li><a href="contact-us.html">Contact us</a></li> *@
@*                             </ul> *@
@*                             <h4>User Profile</h4> *@
@*                             <ul> *@
@*                                 <li><a href="dashboard.html">User profile</a></li> *@
@*                                 <li><a href="db-courses.html">Courses</a></li> *@
@*                                 <li><a href="db-exams.html">Exams</a></li> *@
@*                                 <li><a href="db-profile.html">Prfile</a></li> *@
@*                                 <li><a href="db-time-line.html">Time line</a></li> *@
@*                             </ul> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </section> *@
@*     @RenderBody() *@

@*     <!-- FOOTER COURSE BOOKING --> *@

@*     <!-- FOOTER --> *@

@*     <!-- COPY RIGHTS --> *@

@*     <!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD--> *@
@*     <section> *@
@*         <!-- LOGIN SECTION --> *@
@*         <div id="modal1" class="modal fade" role="dialog"> *@
@*             <div class="log-in-pop"> *@
@*                 <div class="log-in-pop-left"> *@
@*                     <h1>Hello...</h1> *@
@*                     <p>Don't have an account? Create your account. It's take less then a minutes</p> *@
@*                     <h4>Login with social media</h4> *@
@*                     <ul> *@
@*                         <li> *@
@*                             <a href="#"><i class="fa fa-facebook"></i> Facebook</a> *@
@*                         </li> *@
@*                         <li> *@
@*                             <a href="#"><i class="fa fa-google"></i> Google+</a> *@
@*                         </li> *@
@*                         <li> *@
@*                             <a href="#"><i class="fa fa-twitter"></i> Twitter</a> *@
@*                         </li> *@
@*                     </ul> *@
@*                 </div> *@
@*                 <div class="log-in-pop-right"> *@
@*                     <a href="#" class="pop-close" data-dismiss="modal"> *@
@*                         <img src="/images/cancel.png" alt="" /> *@
@*                     </a> *@
@*                     <h4>Login</h4> *@
@*                     <p>Don't have an account? Create your account. It's take less then a minutes</p> *@
@*                     <form class="s12"> *@
@*                         <div> *@
@*                             <div class="input-field s12"> *@
@*                                 <input type="text" data-ng-model="name" class="validate"> *@
@*                                 <label>User name</label> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="input-field s12"> *@
@*                                 <input type="password" class="validate"> *@
@*                                 <label>Password</label> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="s12 log-ch-bx"> *@
@*                                 <p> *@
@*                                     <input type="checkbox" id="test5" /> *@
@*                                     <label for="test5">Remember me</label> *@
@*                                 </p> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="input-field s4"> *@
@*                                 <input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div> *@
@*                         </div> *@
@*                     </form> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <!-- REGISTER SECTION --> *@
@*         <div id="modal2" class="modal fade" role="dialog"> *@
@*             <div class="log-in-pop"> *@
@*                 <div class="log-in-pop-left"> *@
@*                     <h1>Hello...</h1> *@
@*                     <p>Don't have an account? Create your account. It's take less then a minutes</p> *@
@*                     <h4>Login with social media</h4> *@
@*                     <ul> *@
@*                         <li> *@
@*                             <a href="#"><i class="fa fa-facebook"></i> Facebook</a> *@
@*                         </li> *@
@*                         <li> *@
@*                             <a href="#"><i class="fa fa-google"></i> Google+</a> *@
@*                         </li> *@
@*                         <li> *@
@*                             <a href="#"><i class="fa fa-twitter"></i> Twitter</a> *@
@*                         </li> *@
@*                     </ul> *@
@*                 </div> *@
@*                 <div class="log-in-pop-right"> *@
@*                     <a href="#" class="pop-close" data-dismiss="modal"> *@
@*                         <img src="/images/cancel.png" alt="" /> *@
@*                     </a> *@
@*                     <h4>Create an Account</h4> *@
@*                     <p>Don't have an account? Create your account. It's take less then a minutes</p> *@
@*                     <form class="s12"> *@
@*                         <div> *@
@*                             <div class="input-field s12"> *@
@*                                 <input type="text" data-ng-model="name1" class="validate"> *@
@*                                 <label>User name</label> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="input-field s12"> *@
@*                                 <input type="email" class="validate"> *@
@*                                 <label>Email id</label> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="input-field s12"> *@
@*                                 <input type="password" class="validate"> *@
@*                                 <label>Password</label> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="input-field s12"> *@
@*                                 <input type="password" class="validate"> *@
@*                                 <label>Confirm password</label> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="input-field s4"> *@
@*                                 <input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div> *@
@*                         </div> *@
@*                     </form> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*         <!-- FORGOT SECTION --> *@
@*         <div id="modal3" class="modal fade" role="dialog"> *@
@*             <div class="log-in-pop"> *@
@*                 <div class="log-in-pop-left"> *@
@*                     <h1>Hello... </h1> *@
@*                     <p>Don't have an account? Create your account. It's take less then a minutes</p> *@
@*                     <h4>Login with social media</h4> *@
@*                     <ul> *@
@*                         <li> *@
@*                             <a href="#"><i class="fa fa-facebook"></i> Facebook</a> *@
@*                         </li> *@
@*                         <li> *@
@*                             <a href="#"><i class="fa fa-google"></i> Google+</a> *@
@*                         </li> *@
@*                         <li> *@
@*                             <a href="#"><i class="fa fa-twitter"></i> Twitter</a> *@
@*                         </li> *@
@*                     </ul> *@
@*                 </div> *@
@*                 <div class="log-in-pop-right"> *@
@*                     <a href="#" class="pop-close" data-dismiss="modal"> *@
@*                         <img src="/images/cancel.png" alt="" /> *@
@*                     </a> *@
@*                     <h4>Forgot password</h4> *@
@*                     <p>Don't have an account? Create your account. It's take less then a minutes</p> *@
@*                     <form class="s12"> *@
@*                         <div> *@
@*                             <div class="input-field s12"> *@
@*                                 <input type="text" data-ng-model="name3" class="validate"> *@
@*                                 <label>User name or email id</label> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="input-field s4"> *@
@*                                 <input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> *@
@*                             </div> *@
@*                         </div> *@
@*                         <div> *@
@*                             <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div> *@
@*                         </div> *@
@*                     </form> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </section> *@

@*     <!-- SOCIAL MEDIA SHARE --> *@
@*     <section> *@
@*         <div class="icon-float"> *@
@*             <ul> *@
@*                 <li><a href="#" class="sh">1k <br> Share</a> </li> *@
@*                 <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li> *@
@*                 <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li> *@
@*                 <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li> *@
@*                 <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li> *@
@*                 <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li> *@
@*                 <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li> *@
@*             </ul> *@
@*         </div> *@
@*     </section> *@

@*     <!--Import jQuery before materialize.js--> *@
@*     <script src="/js/main.min.js"></script> *@
@*     <script src="/js/bootstrap.min.js"></script> *@
@*     <script src="/js/materialize.min.js"></script> *@
@*     <script src="/js/custom.js"></script> *@
@* </body> *@

@* </html> *@