@model GoEdu.ViewModel.VMInstructorDashBoard

@{
    ViewData["Title"] = "DashBoard";
}

<h1>DashBoard</h1>

<div>
    <h4>VMInstructorDashBoard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstructorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstructorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalStudents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalStudents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalViews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalViews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCourses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCourses)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
