@model GoEdu.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AllStudentsByInstructor">Back to List</a>
</div>
